<!DOCTYPE html>
<html lang="en">
<head>
    <title>Booking page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script>

<!-- script for form validation -->


// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();


</script>



  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme|Cuprum|Noto+Sans+SC|Varela+Round&display=swap" rel="stylesheet">

   <!-- google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
    <!-- google icon styling -->
        .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
        .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

        .material-icons.md-light { color: rgba(255, 255, 255, 1); }
        .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
        .material-icons.md-18 { font-size: 18px; }
        .material-icons.md-24 { font-size: 24px; }
        .material-icons.md-36 { font-size: 36px; }
        .material-icons.md-48 { font-size: 48px; }

    <!-- something with the carousel -->



  </style>

</head>
<body style="font-family: 'Acne', sans-serif; font-size: 20px;">

    <!-- navbar starting -->

    <nav class="navbar navbar-expand-md shadow bg-dark navbar-dark fixed-top ">
      <a class="navbar-brand text-warning" href="{% url 'home:booking' %}" style="font-family:'Indie flower'; font-size:30px;"><strong>WEBCAB</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-warning active" href="{% url 'home:booking' %}">
                    <button type="button" class="btn btn-warning">Book Cab</button>
                </a>
            </li>

            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle text-warning" href="#" data-toggle="dropdown">
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'home:profile' %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'home:setting' %}">Setting</a>
                    <a class="dropdown-item" href="{% url 'home:logout' %}">LogOut</a>
                </div>
            </li>

        </ul>

      </div>

    </nav>

    <!-- navbar end -->

    <!-- bookings details -->


    <div class="row mt-5">
        <div class="col-md-4 mt-5">
            <h3 class="display-5 text-dark mt-5" style="font-family:'Varela Round', sans-serif;">Bookings Available right Now:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 ">
            <ul class="nav nav-pills ">
                <li class="nav-item ">
                    <a class="nav-link active " data-toggle="pill" href="#cta">
                        Campus <i class="material-icons align-bottom">trending_flat</i> Airport
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#ctr" >
                        Campus <i class="material-icons align-bottom">trending_flat</i> Railway station
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#atc" >
                        Airport <i class="material-icons align-bottom">trending_flat</i> Campus
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#rtc" >
                        Railway station <i class="material-icons align-bottom">trending_flat</i> Campus
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <!-- campus to airport bookings -->
                <div class="tab-pane container active" id="cta"><br>
                     <div class="row  text-warning ml-1" style="font-family:'Cuprum',sans-serif; width:100%; height:200px; border-radius:5px; background: rgba(0,0,0,0.8);">
                         <div class="col-md-5">
                            <p><i class="material-icons align-middle">directions_car</i> Model:</p>
                            <p class="mt-5">Cab provider:</p>
                            <p class="mt-5">Time and Date:</p>
                         </div>
                         <div class="col-md-4">
                             <a href="#" class="btn btn-warning btn font-weight-bold" role="button" style="font-size:25px;">BOOK</a>
                         </div>
                         <div class="col-md-3">
                             <p>Seat left:</p>
                             <p class="mt-5">Space left for Luggage:</p>
                             <p class="mt-5">Feature: All female/AC/grp</p>
                         </div>
                     </div><br>
                     <div class="row text-warning ml-1" style="font-family:'Cuprum',sans-serif; width:100%; height:200px; border-radius:5px; background: rgba(0,0,0,0.8);">
                         <div class="col-md-5">
                            <p><i class="material-icons align-middle">directions_car</i> model:</p>
                            <p class="mt-5">Cab provider:</p>
                            <p class="mt-5">Time and Date:</p>
                         </div>
                         <div class="col-md-4">
                             <a href="#" class="btn btn-warning btn font-weight-bold" role="button" style="font-size:25px;">BOOK</a>
                         </div>
                         <div class="col-md-3">
                             <p>Seat left:</p>
                             <p class="mt-5">Space left for Luggage:</p>
                             <p class="mt-5">Feature: All female/AC/grp</p>
                         </div>
                     </div><br>
                     <div class="row text-warning ml-1" style="font-family:'Cuprum',sans-serif; width:100%; height:200px; border-radius:5px; background: rgba(0,0,0,0.8);">
                         <div class="col-md-5">
                            <p><i class="material-icons align-middle">directions_car</i> model:</p>
                            <p class="mt-5">Cab provider:</p>
                            <p class="mt-5">Time and Date:</p>
                         </div>
                         <div class="col-md-4">
                             <a href="#" class="btn btn-warning btn font-weight-bold" role="button" style="font-size:25px;">BOOK</a>
                         </div>
                         <div class="col-md-3">
                             <p>Seat left:</p>
                             <p class="mt-5">Space left for Luggage:</p>
                             <p class="mt-5">Feature: All female/AC/grp</p>
                         </div>
                     </div><br>
                    <ul class="pagination justify-content-center text-warning" style="margin:20px 0;">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next  </a></li>
                    </ul>
                </div>

                <!-- campus to railway station -->
                <div class="tab-pane container" id="ctr"><br>
                    <div class="row text-warning ml-1" style="font-family:'Cuprum',sans-serif; width:100%; height:200px; border-radius:5px; background: rgba(0,0,0,0.8);">
                         <div class="col-md-5">
                            <p><i class="material-icons align-middle">directions_car</i> model:</p>
                            <p class="mt-5">Cab provider:</p>
                            <p class="mt-5">Time and Date:</p>
                         </div>
                         <div class="col-md-4">
                             <a href="#" class="btn btn-warning btn font-weight-bold" role="button" style="font-size:25px;">BOOK</a>
                         </div>
                         <div class="col-md-3">
                             <p>Seat left:</p>
                             <p class="mt-5">Space left for Luggage:</p>
                             <p class="mt-5">Feature: All female/AC/grp</p>
                         </div>
                     </div><br>
                    <ul class="pagination justify-content-center text-warning" style="margin:20px 0;">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next  </a></li>
                    </ul>
                </div>

                <!-- airport to campus -->
                <div class="tab-pane container" id="atc"><br>
                    <div class="row text-warning ml-1" style="font-family:'Cuprum',sans-serif; width:100%; height:200px; border-radius:5px; background: rgba(0,0,0,0.8);">
                         <div class="col-md-5">
                            <p><i class="material-icons align-middle">directions_car</i> model:</p>
                            <p class="mt-5">Cab provider:</p>
                            <p class="mt-5">Time and Date:</p>
                         </div>
                         <div class="col-md-4">
                             <a href="#" class="btn btn-warning btn font-weight-bold" role="button" style="font-size:25px;">BOOK</a>
                         </div>
                         <div class="col-md-3">
                             <p>Seat left:</p>
                             <p class="mt-5">Space left for Luggage:</p>
                             <p class="mt-5">Feature: All female/AC/grp</p>
                         </div>
                     </div><br>
                    <ul class="pagination justify-content-center text-warning" style="margin:20px 0;">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next  </a></li>
                    </ul>
                </div>

                <!-- railway station to campus -->
                <div class="tab-pane container" id="rtc"><br>
                    <div class="row text-warning ml-1" style="font-family:'Cuprum',sans-serif; width:100%; height:200px; border-radius:5px; background: rgba(0,0,0,0.8);">
                         <div class="col-md-5">
                            <p><i class="material-icons align-middle">directions_car</i> model:</p>
                            <p class="mt-5">Cab provider:</p>
                            <p class="mt-5">Time and Date:</p>
                         </div>
                         <div class="col-md-4">
                             <a href="#" class="btn btn-warning btn font-weight-bold" role="button" style="font-size:25px;">BOOK</a>
                         </div>
                         <div class="col-md-3">
                             <p>Seat left:</p>
                             <p class="mt-5">Space left for Luggage:</p>
                             <p class="mt-5">Feature: All female/AC/grp</p>
                         </div>
                     </div><br>
                    <ul class="pagination justify-content-center text-warning" style="margin:20px 0;">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next  </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>