<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script>

<!-- script for form validation -->


// Disable form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();


</script>



  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">

   <!-- google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
    <!-- google icon styling -->
        .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
        .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

        .material-icons.md-light { color: rgba(255, 255, 255, 1); }
        .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
        .material-icons.md-18 { font-size: 18px; }
        .material-icons.md-24 { font-size: 24px; }
        .material-icons.md-36 { font-size: 36px; }
        .material-icons.md-48 { font-size: 48px; }

    <!-- something with the carousel -->



  </style>

</head>

<body style="font-family: 'Acne', sans-serif; font-size: 20px; background-color:#CFB251;height:700px;">

     <!-- The Modal starts here -->


     <div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-white">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
         <form  action="{% url 'home:login' %}" method="post" class="needs-validation" novalidate>
             {% csrf_token %}
              <div class="form-group">
              <label for="email">Outlook ID:</label>
              <div class="input-group">
                <input type="text" class="form-control"  placeholder="Enter email ID" id="email" name="outlook_id" required>
                <div class="input-group-append">
                    <span class="input-group-text">@iitg.ac.in</span>
                </div>
              </div>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
                <small  class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control"  placeholder="Password" id="pwd" name="pwd" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out these fields.</div>
                <p class="text-warning">{{ response }}</p>
              </div>

              <button type="submit" class="btn btn-warning btn-lg btn-block">SUBMIT</button>
         </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <p class="text-left">If you haven't registered yet then click here
            <a href="{% url 'signup:signup_page' %}">
            <button type="button" class="btn btn-dark">SignUp</button>
            </a>
        </p>
      </div>

    </div>
  </div>
</div>


     <!-- Modal ends here -->

    <!-- navbar starts -->


    <nav class="navbar navbar-expand-md shadow bg-dark navbar-dark fixed-top ">
      <a class="navbar-brand text-warning" href="{% url 'home:index' %}" style="font-family:'Indie flower'; font-size:30px;"><strong>WEBCAB</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'home:about' %}">About us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Help</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/signup/"><i class="material-icons md-light md-24">person_add</i> SignUp</a>
            </li>
            <li class="nav-item">
                <a class ="nav-link" href="#">
                    <i class="material-icons md-light md-24">subdirectory_arrow_right</i>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">
                        Login
                    </button>
                </a>
            </li>
        </ul>

      </div>

    </nav>


     <!-- navbar ends here -->

     <!-- Help content -->

     <div class="row mt-5">
         <div class="col-md-6 mt-4 text-left">
             <h4 >
                 If you are facing any difficulty regarding signup/profile setting then contact:
             </h4>
             <strong><i class="material-icons pb-2">call</i>  Manish MC</strong>
             <h4 class=" mt-4">For Booking related problems contact:</h4>
             <strong><i class="material-icons pb-2">call</i> Manish BC</strong>
         </div>
     </div>
</body>
</html>